VulkanGen/VulkanGen/VulkanGen/obj
VulkanGen/VulkanGen/VulkanGen/bin
*.suo
VulkanGen/VulkanGen/WaveEngine.Bindings.Vulkan/obj
VulkanGen/VulkanGen/WaveEngine.Bindings.Vulkan/bin
VulkanGen/VulkanGen/VKDrawTriangle/bin
VulkanGen/VulkanGen/VKDrawTriangle/obj
VulkanGen/VulkanGen/.vs/VulkanGen/DesignTimeBuild
VulkanGen/VulkanGen/VKDrawTriangle/VKDrawTriangle.csproj.user
